@import "tailwindcss";

body {
    color: #ffffff;
    font-family: "Poppins", serif;
}

.password-eye:focus-within {
    border-color: rgb(34, 197, 94);
}

@media screen and (min-width: 1025px) {
    .none {
        display: flex !important; /* Ensure visibility on larger screens */
    }
    .close{
        display: none !important;
    }
}


@media screen and (max-width: 1024px) {

    /* utility */
    .none {
        display: none;
    }

    .popUp {
        display: inline-block;
    }

    .inputbox{
        display: flex;
        flex-direction: column;
    }
    .full{
        width: 100%;
    }

    .website {
        width: 100%;
        justify-content: space-between;
        padding-right: 1rem;
        cursor: pointer;
    }

    .username {
        position: absolute;
        justify-content: center;
        background-color: #0f1724;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
        z-index: 2;
        height: 5rem;
        width: calc(3/5 * 100%);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        
    }

    .password {
        justify-content: center;
        position: absolute;
        /* border: 1px solid #ffffff; */
        background-color: #0f1724;
        left: 50%;
        top: 36%;
        transform: translate(-50%, -50%);
        z-index: 3;
        height: 3rem;
        width: calc(3/5 * 100%);
    }

    .eyepass {
        width: 3rem;
        scale: 0.5;
    }

    .action{
        background-color: #0f1724;
        position: absolute;
        left: 50%;
        top: 43%;
        z-index: 2;
        height: 5rem;
        width: calc(3/5 * 100%);
        transform: translate(-50%, -50%);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .close{
        position: absolute;
        z-index: 5;
        left: 77%;
        top: 27%;
        transform: translate(-50%, -50%);
    }


}



@media screen and (max-width: 768px) {

    .noneMob {
        display: none;
    }

}

.passwordContainer::-webkit-scrollbar {
    width: 15px; /* Width of the scrollbar */
    
}

.passwordContainer::-webkit-scrollbar-thumb {
    background-color: #333; 
    border-radius: 6px;
}

.passwordContainer::-webkit-scrollbar-track {
    background-color: #222; 
}